
<h2>Savings deposit</h2>

<%= form_tag savingsdeposits_path, :method => 'get' do %>
<%= link_to "Open Savings Deposits", new_savingsdeposit_path, class: "btn-primary btn" %>
<% end %>

<div class="row">
  <div class="span6 offset6 action_bar">
    <div>
      <span class="btn-group float-right">        
        <%= link_to "Transaction Pending", '#', class: "btn-primary btn" %>
          <button class="btn dropdown-toggle" data-toggle="dropdown">            
          <span class="caret"></span></button>
          <ul class="dropdown-menu">            
            <% if can? :approve, @savingsdeposit %>           
            <li><%= link_to "Awaiting Approval", savingsdeposits_pending_path, :method => 'get' %></li>
            <% end %>                       
            <li><%= link_to "Closed", '#' %></li>
          </ul>              
      </span> 
    </div> 
  </div>
</div>    
</br>

<table cellpadding = "5" cellspacing ="5">
  <tr>        
    <th>Customer Name</th>
    <th>Account Type</th>    
    <th>Account Opened On</th>
    <th>Customer Status</th>
    <th>Current Balance</th>
    
  </tr>
  <% @savingsdeposit.each do |sd| %>
    <tr>      
      <td><%= link_to "#{sd.customer.first_name} #{sd.customer.last_name}", savingsdeposit_path(sd)%></td>
      <td><%= sd.account_type%></td>     
      <td><%= sd.opened_on%></td>
      <% if sd.status == 'Pending' %>
      <td><span class="icon icon-thumbs-down"></span><span class="label label-warning"><%= sd.status %></span></td>
      <% else %>
      <td><span class="icon icon-thumbs-up"></span><span class="label label-success"><%= sd.status %></span>
      </td>
      <% end %>
      <td><%= sd.current_balance%></td>  
    </tr>
  <% end %>
</table>
<br/>
