
<table cellpadding = "5" cellspacing ="5">
  <tr>        
    <th>Customer Name</th>
    <th>Account Type</th>    
    <th>Account Opened On</th>
    <th>Customer Status</th>
    <th>Current Balance</th>
    <th>Approve</th>
    
  </tr>
  <% @savingsdeposit.each do |sd| %>
  <% if sd.status == 'Pending' %>
    <tr>      
      <td><%=  "#{sd.customer.first_name} #{sd.customer.last_name}" %></td>
      <td><%= sd.account_type%></td>     
      <td><%= sd.opened_on%></td>
      <td><span class="icon icon-thumbs-down"></span><span class="label label-warning"><%= sd.status %></span></td>
      <td><%= sd.current_balance%></td> 
      <td><%= link_to "Awaiting approval", approve_savingsdeposit_path(sd), class: "btn btn-small btn-warning" %></td> 
    </tr>
    <% end %>
  <% end %>
</table>
