
<h1><%= link_to 'Savings Deposit' , savingsdeposits_path %></h1>

<div class="row">
  <div class="span6 offset6 action_bar">
    <div>     
    <%= link_to"Back", savingsdeposits_path, class: "btn btn-primary" %>
    <%= link_to"Edit Account", edit_savingsdeposit_path, class: "btn btn-primary" %>
    <%= link_to "Close Account",savingsdeposit_path,class: "btn btn-danger",
      method: :delete, confirm: "You want to close this account?" %>
	

    <% if current_user and current_user.Role == "Mgr" %>
       <%= content_tag(:p, "Manager can do transaction!", :id=>"Mgrtxt") if current_user.Role == "Mgr" %>
       <%= link_to "Add transaction", new_savingsdeposittransaction_path(:id=>@savingsdeposit.id), class: "btn btn-primary" %>
    <% else %>
       <%= content_tag(:p, "Data Entry Operator cannot do transaction!", :id=>"Deotxt") if current_user.Role == "Deo" %>       
    <% end %>     
    </div> 
  </div>
</div>
</br>

<div><h3><%= "#{@savingsdeposit.customer.code}" %>  <%=link_to "#{@savingsdeposit.customer.first_name} #{@savingsdeposit.customer.last_name}", customers_path %></h3>
</div>

  <div class="row">
   <div class="span6">
   <h4><span class="savingsdeposit_show_page_header">Account Details</span></h4>
   <div class="row">
   <div class="span3">Current balance</div>
   <div class="span3">  <%= @savingsdeposit.current_balance %> </div>
   </div>
   <div class="row">
   <div class="span3">Account opened on</div>
   <div class="span3"> <%= @savingsdeposit.opened_on %> </div>
   </div>
   </div>

   <div class="row">
   <div class="span6">
   <h4><span class="savingsdeposit_show_page_header">Customer Status</span></h4>
   <div class="row">
   <div class="span3">Status</div>
   <div id="status" class="span3">
   <span class="icon icon-thumbs-down"></span>   
    <span class="label label-warning"> pending </span>
  </div>
   </div>
   </div>
   </div>
 </br>

<div>
<h4>Transaction History</h4>

<table cellpadding = "5" cellspacing ="5">
  <tr>        
    <th>Transaction Date</th>
    <th>Mode</th>    
    <th>Amount</th>
    <th>Particulars</th>
    <th>Status</th>    
  </tr>
  <% @savingsdeposit.savingsdeposittransactions.each do |sdts| %>
    <tr>      
      <td><%= sdts.transaction_date %></td>     
      <td><%= link_to sdts.transaction_mode, savingsdeposittransaction_path(sdts) %></td>
      <td><%= sdts.transaction_amount %></td>
      <td><%= sdts.particulars %></td>
      <td><span class="icon icon-thumbs-down"></span><span class="label label-warning"><%= sdts.status %></span></td>      
    </tr>
  <% end %>
</table>
</div>
